<!DOCTYPE html> <!--This is completely me adding things that are not required. I am looking to see what files show up and the ones that I am able to update, I am updating!-->
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Oops!</title>
</head>
<body>
    <hgroup>
        <h1>Oops!</h1>
        <h2>OOPS! It looks like there was an error processing your request. Don't be a quitter, try it again :)</h2>
    </hgroup>
</body>
</html>
