@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Website designed by April J Woulard, Junior Software Developer using MVC</p>
<!--I updated this information just because I was able to figure out how!-->
