@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address> <!--I wonder why address tags are used versus paragraph tags...-->
    123 Sesame Street<br />
    Twinsburg, OH 44087<br />
    <abbr title="Phone">P:</abbr> <!--Google if abbr is for abbreviation...I'm sure it is, but verify. -->
    216.867.5309
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>