@{
    ViewBag.Title = "Home Page";
}

<!--Attempted to add a background image, but could not get the image to show up...Not to self, figure this out.-->

<div class="jumbotron"> <!--I finally understand what divs are used for! -->
    <h2>Jolly Spots</h2>  <!--Title as required--> 
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/CSS/HomePage.css" /> <!--this is what I thought would link my background image in css to this, but I must be missing something somewhere-->
    <h3>Amusement & Theme Park Travel Guide</h3>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque risus arcu, pharetra a lacus id, pharetra porttitor dolor. Ut et neque vitae turpis tincidunt lobortis. Suspendisse convallis dui ac nibh pharetra luctus. Etiam turpis felis, finibus in arcu ut, viverra consequat velit. Fusce ullamcorper, neque eget volutpat sagittis, ante diam feugiat nunc, ac maximus urna orci vitae purus. Mauris faucibus nisl purus, id maximus odio pretium et. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras consequat vestibulum sodales. Duis feugiat felis et mi luctus, sit amet vehicula libero viverra. Integer efficitur nisl sit amet nulla volutpat egestas.</p>
     <!--this is the descriptions as required-->    
</div>

<div class="row"> <!--replaced the table with rows and colums. I am glad that I gained an understanding of how to do so, it makes for a much better user and programmer experience-->
    <div class="col-md-6"> <!--changed the size of thumbnails to get rid of the 3rd column and create 2 equally sized columns-->
        <h2>Reviews</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Phasellus vitae massa vitae urna rhoncus varius vel id augue. 
            Nullam facilisis tellus mauris, sit amet consequat lorem ullamcorper vitae. 
            Aenean ut nulla augue. Etiam eu ultricies erat. Nulla vitae consectetur libero, at porttitor ante. 
            Sed bibendum nisl id metus dignissim, vel congue urna fermentum.
        </p>
        <p><a href="http://localhost:60884/Reviews/Index" class="btn btn-primary btn-lg">View Reviews &raquo;</a></p>
    <!--I cant figure out where amongst all these files the code for the navbar is located. 
        In order to allow the user to navigate to the Reviews section, 
        I altered this code to do so by linking the reviews page in this button. This is a great concept.
        Note to self, use this concept when creating personal portfolio/website. I can allow the user to view
        the websites that I have been working on by adding the websites to the code.-->
    </div>

    <div class="col-md-6">
        <h2>Categories</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus vitae massa vitae urna rhoncus varius vel id augue.
            Nullam facilisis tellus mauris, sit amet consequat lorem ullamcorper vitae.
            Aenean ut nulla augue. Etiam eu ultricies erat. Nulla vitae consectetur libero, at porttitor ante.
            Sed bibendum nisl id metus dignissim, vel congue urna fermentum.</p>
        <p><a href="http://localhost:60884/Categories/Index" class="btn btn-primary btn-lg">View Categories &raquo;</a></p>
    </div>
</div>
